Source: ros-hydro-sr-ronex-examples
Section: misc
Priority: extra
Maintainer: Shadow Robot's software team <software@shadowrobot.com>
Build-Depends: debhelper (>= 7.0.50~), ros-hydro-catkin, ros-hydro-dynamic-reconfigure, ros-hydro-roscpp, ros-hydro-rospy, ros-hydro-sr-ronex-msgs, ros-hydro-sr-ronex-utilities, ros-hydro-std-msgs
Homepage: http://www.shadowrobot.com/products/ronex
Standards-Version: 3.9.2

Package: ros-hydro-sr-ronex-examples
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-hydro-dynamic-reconfigure, ros-hydro-roscpp, ros-hydro-rospy, ros-hydro-sr-ronex-msgs, ros-hydro-sr-ronex-utilities, ros-hydro-std-msgs
Description: Package containing examples for the RoNeX boards.
