Source: ros-hydro-sr-ronex
Section: misc
Priority: extra
Maintainer: Shadow Robot's software team <software@shadowrobot.com>
Build-Depends: debhelper (>= 9.0.0), ros-hydro-catkin
Homepage: http://www.shadowrobot.com/products/ronex
Standards-Version: 3.9.2

Package: ros-hydro-sr-ronex
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-hydro-sr-ronex-controllers, ros-hydro-sr-ronex-drivers, ros-hydro-sr-ronex-examples, ros-hydro-sr-ronex-external-protocol, ros-hydro-sr-ronex-hardware-interface, ros-hydro-sr-ronex-launch, ros-hydro-sr-ronex-msgs, ros-hydro-sr-ronex-transmissions, ros-hydro-sr-ronex-utilities
Description: This stack contains the different packages related to the RoNeX (Robot Nervous System).
